#######################################################
# Registry credentials
#######################################################
REGISTRY_USERNAME: installer
REGISTRY_PASSWORD: B4c0n
REGISTRY_EMAIL: "mercury-installer@cisco.com"

CIMC-COMMON:
  cimc_username: "{common_username_oob}"
  cimc_password: "{common_password_oob}"

COBBLER:
  host_profile: RHEL7.2-x86_64
  cobbler_username: cobbler
  admin_username: root
  admin_password_hash: $6$.oKEqTDhB6XJjca4$V4QRX.7nUQ560rcAXjVCDgCxISZpwti.0rfnr/i24mvC1gQeyaQe0e.B/g/xq5/HdfYVEFXkYf1f72rXLfWTx0
  admin_ssh_keys:
  kickstart:
    control: control-flexflash-c220m4.ks
    compute: compute-flexflash-c220m4.ks
    block_storage: storage-flexflash-c240m4.ks
    vts: control-sda-c220m4.ks

NETWORKING:
  domain_name: ctocllab.cisco.com
  ntp_servers:
    - 1.ntp.esl.cisco.com
    - 2.ntp.esl.cisco.com
  domain_name_servers:
    - {dns_ip}

  networks:
  -
    vlan_id: {api_vlan}  # routable network knonw also as ssh access network
    subnet: {api_cidr}
    gateway: {api_gw}
    segments:
      - api
  -
    vlan_id: {mx_vlan}
    subnet: {mx_cidr}
    gateway: {mx_gw}
    build_node: {bld_ip_mx}
    pool:
        - {mx_pool}
    segments:
      - management
      - provision
  -
    vlan_id: {tenant_vlan}
    subnet: {tenant_cidr}
    gateway: {tenant_gw}
    pool:
        - {tenant_pool}
    segments:
      - tenant
  -
    vlan_id: 690
    segments:
       - external
  -
    vlan_id: "None"
    segments:
       - provider

ROLES:
  control:
     - {controllers_part}
  compute:
     - {computes_part}
  vts:
     - {vts_hosts_part}

SERVER_COMMON:
  server_username: {common_ssh_username}

SERVERS:
{servers_part}

#####################################################
# SECTION-2 : Openstack Installation Information.
#####################################################

#################################################
# NEUTRON
#################################################
MECHANISM_DRIVERS: vts
TENANT_NETWORK_TYPES: "VLAN"
TENANT_VLAN_RANGES: 1000:2000
ENABLE_JUMBO_FRAMES: True
RESERVED_HOST_MEMORY_PERC: 50
# ENABLE_KERNEL_ISOLCPUS: False

#################################################
# Keystone
#################################################
ADMIN_USER: admin
ADMIN_TENANT_NAME: admin

###############################################
# HA Proxy
################################################
external_lb_vip_address: {lb_ip_api}  # external_lb_vip_address has to be part of API subnet

VIRTUAL_ROUTER_ID: 3

internal_lb_vip_address: {lb_ip_mx}

#################################################
# CEPH
#################################################
STORE_BACKEND: ceph
GLANCE_CLIENT_KEY: AQBATEVVYFUDFRAArbWAL5BN4yTJGdKPVwVs+A==
GLANCE_RBD_POOL: images # This depends on the pool reserved for images on your ceph cluster


#################################################
# CINDER
#################################################
VOLUME_DRIVER: ceph
VOLUME_GROUP: cinder-volumes

CINDER_RBD_POOL: volumes
CINDER_CLIENT_KEY: AQAoTEVVMAErAxAAwxV7/dJvc+pBQRho7Ui0Bg==

#################################################
# Centralized CEPH
##################################################
NOVA_RBD_POOL: vms
CLUSTER_ID: e2a597ff-105d-4266-b322-4887ff19212a
MON_HOSTS: 172.29.74.26,172.29.74.27
MON_MEMBERS: sj19-lab-ceph01,sj19-lab-ceph02
SECRET_UUID: 01caf8ee-21d9-4486-84fd-79b353270b56


##################################################
# VTS
##################################################
VTS_PARAMETERS:

    VTS_USERNAME: {vtc_username}                  # Required parameter when VTS enabled At the current time one username and password is used for all vts components
    VTS_PASSWORD: {vtc_password}
    VTS_VNI_RANGE:  4096:65535                    # Required parameter when VTS is enabled The range of VNI values the operator wants to use for the VXLAN encapsulated packets
    VTS_NCS_IP: {vtc_mx_vip}                      # Optional required only for EFT The IP address the VTF's will use to register.  This is only required for EFT

#############################################
# NFV Hosts
#############################################
NFV_HOSTS: ALL # The VTS option requires NFV_HOSTS: ALL CPU Pinning and Huge Page support will be enabled on the hosts defined below.

# Addition to use automatic bare-metal build node deployment
# TESTBED: g7-2
# MGMT_NODE_CIMC_IP: {bld_ip_oob}
# MGMT_CIMC_USERNAME: {bld_username_oob}
# MGMT_CIMC_PASSWORD: '{bld_password_oob}'
# MGMT_NODE_API_IP: {bld_ip_api}/{api_pref_len}
# MGMT_NODE_API_GW: {api_gw}
# MGMT_NODE_MGMT_IP: {bld_ip_mx}/{mx_pref_len}
