#######################################################
# Registry credentials
#######################################################
REGISTRY_USERNAME: installer
REGISTRY_PASSWORD: B4c0n
REGISTRY_EMAIL: mercury-installer@cisco.com

CIMC-COMMON:
  cimc_username: "{cimc_username}"
  cimc_password: "{cimc_password}"

COBBLER:
  host_profile: RHEL7.2-x86_64
  cobbler_username: cobbler
  admin_username: root
  admin_password_hash: $6$.oKEqTDhB6XJjca4$V4QRX.7nUQ560rcAXjVCDgCxISZpwti.0rfnr/i24mvC1gQeyaQe0e.B/g/xq5/HdfYVEFXkYf1f72rXLfWTx0
  admin_ssh_keys:
  kickstart:
    control: control-flexflash-c220m4.ks
    compute: compute-flexflash-c220m4.ks
    block_storage: storage-flexflash-c240m4.ks

NETWORKING:
  domain_name: ctocllab.cisco.com
  ntp_servers:
    - 1.ntp.esl.cisco.com
    - 2.ntp.esl.cisco.com
  domain_name_servers:
    - {dns_ip}

  networks:
  -
    vlan_id: {api_vlan}  # routable network knonw also as ssh access network
    subnet: {api_cidr}
    gateway: {api_gw}
    segments:
      - api
  -
    vlan_id: {mx_vlan}
    subnet: {mx_cidr}
    gateway: {mx_gw}
    build_node: {bld_ip_mx}
    segments:
      - management
      - provision
  -
    vlan_id: {tenant_vlan}
    subnet: {tenant_cidr}
    gateway: {tenant_gw}
    segments:
      - tenant
  -
    vlan_id: 690
    segments:
       - external
  -
    vlan_id: "None"
    segments:
       - provider

ROLES:
  control:
     - {controllers_part}
  compute:
     - {computes_part}
  block_storage:
  object_storage:
  networker:

SERVER_COMMON:
  server_username: {common_ssh_username}

SERVERS:
{servers_part}

#####################################################
# SECTION-2 : Openstack Installation Information.
#####################################################

#################################################
# NEUTRON
#################################################
MECHANISM_DRIVERS: vts
TENANT_NETWORK_TYPES: "VLAN"
TENANT_VLAN_RANGES: 1000:2000

#################################################
# Keystone
#################################################
ADMIN_USER: admin
ADMIN_TENANT_NAME: admin

# Keystone Verbosity options:
VERBOSE_LOGGING: True
DEBUG_LOGGING: True
USE_STDERR: false

###############################################
# HA Proxy
################################################
external_lb_vip_address: {lb_ip_api}  # external_lb_vip_address has to be part of API subnet

VIRTUAL_ROUTER_ID: 3

internal_lb_vip_address: {lb_ip_mx}
#MGMT_VIP_INTERFACE: mp_b
MGMT_VIRTUAL_ROUTER_ID: 103

#################################################
# CEPH
#################################################
STORE_BACKEND: ceph
GLANCE_CLIENT_KEY: AQBATEVVYFUDFRAArbWAL5BN4yTJGdKPVwVs+A==
GLANCE_RBD_POOL: images # This depends on the pool reserved for images on your ceph cluster


#################################################
# CINDER
#################################################
VOLUME_DRIVER: ceph
VOLUME_GROUP: cinder-volumes

CINDER_RBD_POOL: volumes
CINDER_CLIENT_KEY: AQAoTEVVMAErAxAAwxV7/dJvc+pBQRho7Ui0Bg==

#################################################
# Centralized CEPH
##################################################
NOVA_RBD_POOL: vms
CLUSTER_ID: e2a597ff-105d-4266-b322-4887ff19212a
MON_HOSTS: 172.29.74.26,172.29.74.27
MON_MEMBERS: sj19-lab-ceph01,sj19-lab-ceph02
SECRET_UUID: 01caf8ee-21d9-4486-84fd-79b353270b56


##################################################
# VTS
##################################################
VTS_PARAMETERS:

## Define VTS credentials
VTS_USERNAME: admin #Username for VTS access
    VTS_USERNAME: {vtc_username}                  # Required parameter when VTS enabled At the current time one username and password is used for all vts components
## VTS_PASSWORD: # Will be autogenerated and is not added here.
    #BL_SWITCH_PORT_NUMBER0: 1/??                  # Required parameter only needed when VTS enabled The slot and port number for active Nexus9K port added to the inventory
    #BL_SWITCH_PORT_NUMBER1: 1/??                  # Required parameter only needed when VTS enabled The slot and port number for backup Nexus9K port added to the inventory
    #BL_SWITCH_USERNAME: ??            # Required parameter only needed when VTS enabled Username for Nexus9K switches that are part of the VTS inventory
    #BL_SWITCH_PASSWORD: ??            # Required parameter only needed when VTS enabled Password for Nexus9K switches that are part of the VTS inventory
    #BGP_ASN_NUMBER: ??                            # Required parameter when VTS is enabled The ASN number advertised by the VTS solution
    #BGP_LOOPBACK_NUM: ??                          # Required parameter when VTS is enabled The loopback number to be used for BGP connections with peers
    #BGP_LOOPBACK_IP: ??                           # Required parameter when VTS is enabled The loopback ip address to be used for BGP connections with peers
    VTS_VNI_RANGE:  1002:1004                      # Required parameter when VTS is enabled The range of VNI values the operator wants to use for the VXLAN encapsulated packets
    VTS_VTC_API_IP: {vtc_vip}                      # Required parameter when VTS is enabled The IP address of the VTC on the API network for external access
    #VTS_NCS_IP: ??                                # Optional required only for EFT The IP address the VTF's will use to register.  This is only required for EFT

#############################################
# NFV Hosts
#############################################
NFV_HOSTS: ALL # The VTS option requires NFV_HOSTS: ALL CPU Pinning and Huge Page support will be enabled on the hosts defined below.
