# This is a sample day0 configuration file
# Copyright (c) 2015 cisco Systems

# VTS Information
VTS_ADDRESS="{{ vtc_mgmt_vip }}"
VTS_REGISTRATION_USERNAME="{{ user }}"
VTS_REGISTRATION_PASSWORD="{{ vtc_password }}"

# VTC/VTF Network Configuration
HOSTNAME="{{ xrnc['hostname'] }}"
NTP_SERVER="{{ ntpv4 }}"
NETWORK_CONFIG_METHOD="static"
NETWORK_NAMESERVER_IP="{{ dnsv4 }}"
UNDERLAY_NETWORK_CONFIG_METHOD="static"
UNDERLAY_NETWORK_IP_ADDRESS="{{ xrnc['tenant_ip'] }}"
UNDERLAY_NETWORK_IP_NETMASK="{{ networks['tenant']['netmask'] }}"
UNDERLAY_NETWORK_IP_GATEWAY="{{ networks['tenant']['gateway'] }}"

MGMT_NETWORK_CONFIG_METHOD="static"
MGMT_NETWORK_IP_ADDRESS="{{ xrnc['mgmt_ip'] }}"
MGMT_NETWORK_IP_NETMASK="{{ networks['mgmt']['netmask'] }}"
MGMT_NETWORK_IP_GATEWAY="{{ networks['mgmt']['gateway'] }}"

AUX_NETWORK_CONFIG_METHOD="none"
XRVR_MGMT_NETWORK_VRF_NAME="none"

# VTF mode (vhost/vm)
ALL_VTFS_MODE="vhost"

# VTC/VTF Admin user/password hash
USERNAME='cisco'
# Generate with openssl passwd -1 -salt <salt> <password>
# cisco/cisco123
PASSWORD_HASH='$1$xxx$J3aa90XAPYg6HSNUUUD2o1'

# XRVR Specific Settings (VTC only)
XRVR_USERNAME="{{ user }}"
XRVR_PASSWORD="{{ password }}"
XRVR_STATIC_MGMT_IP="{{ xrvr['mgmt_ip'] }}/{{ networks['mgmt']['cidr'] }}"
XRVR_STATIC_UNDERLAY_IP="{{ xrvr['tenant_ip'] }}/{{ networks['tenant']['cidr'] }}"
XRVR_NAME="{{ xrvr['hostname'] }}"
XRVR_BGP_COMMUNITY="{{ vni_pool['start'] }}:{{ vni_pool['end'] }}"
