<interface type='bridge'>
     <source bridge='br-ex'/>
     <virtualport type='openvswitch'/>
     <target dev='vtc-public'/>
     <model type='virtio'/>
</interface>
<interface type='bridge'>
     <source bridge='br-inst'/>
     <vlan>
       <tag id='{vlan}'/>
     </vlan>
     <virtualport type='openvswitch'/>
     <target dev='vtc-private'/>
     <model type='virtio'/>
</interface>
