<interface type='bridge'>
     <source bridge='br-{a_nic_name}'/>
     <virtualport type='openvswitch'/>
     <target dev='vtc-{a_nic_name}-port'/>
     <model type='virtio'/>
</interface>
<interface type='bridge'>
     <source bridge='br-{mx_nic_name}'/>
     <virtualport type='openvswitch'/>
     <target dev='vtc-{mx_nic_name}-port'/>
     <model type='virtio'/>
</interface>
