<interface type='bridge'>
     <source bridge='br-{t_nic_name}'/>
     <vlan>
       <tag id='{t_vlan}'/>
     </vlan>
     <virtualport type='openvswitch'/>
     <target dev='xrnc-{t_nic_name}-port'/>
     <model type='virtio'/>
</interface>
<interface type='bridge'>
     <source bridge='br-{mx_nic_name}'/>
     <virtualport type='openvswitch'/>
     <target dev='xrnc-{mx_nic_name}-port'/>
     <model type='virtio'/>
</interface>
