<interface type='bridge'>
     <source bridge='br-{vts_nic_name}'/>
     <vlan>
       <tag id='{vlan}'/>
     </vlan>
     <virtualport type='openvswitch'/>
     <target dev='xrnc-mx-port'/>
     <model type='virtio'/>
</interface>
<interface type='bridge'>
     <source bridge='br-{ssh_nic_name}'/>
     <virtualport type='openvswitch'/>
     <target dev='xrnc-api-port'/>
     <model type='virtio'/>
</interface>
