Folder: perf
Title: no CSR, 1Mpps per 10 sec to test connectivity
Description: runs number of perfomance benchmarks described in https://cisco.jiveon.com/docs/DOC-1711443. Target architecture is defined by pod on which this test is run.
UniqueID: os-sqe-perf00
PossibleDrivers: [vts, vpp]
Workers:

- class: lab.scenarios.ntt_scenario.NttScenario
  name: NttScenario
  delay: 0
  timeout: 1000
  pause: 0
  run: 1
  run_inside: nfvbench  # might by nfvbench, csr, both
  csr_args: not-used
  nfvbench_args: --rate 1Mpps --duration 10 --debug