Folder: HIGH AVAILABILITY
Title: Passive DL ncs stop while adding OS servers
Description: Do OS instance create-ping-delete cycle, at the same time do passive dl ncs stop in a cycle
UniqueID: os-sqe-vts06

Workers:
- class: lab.monitors.vts_monitor.VtsMonitor
  name: VtsMonitor
  delay: 0
  run: [VtsScenario]
  timeout: 1000
  pause: 2

- class: lab.scenarios.vts_scenario.VtsScenario
  name: VtsScenario
  delay: 0
  run: [VtsDisruptor]
  pause: 20
  timeout: 1000
  n_networks: 1
  n_servers: 1
  run_inside: ping
  uptime: 20

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: VtsDisruptor
  delay: 10
  run: 10
  pause: 30
  timeout: 1000
  node_to_disrupt: slave-dl
  method_to_disrupt: vm-reboot
  disrupt_time: 20