Folder: ha
Title: Passive VTC reboot while adding OS servers
Description: Do OS instance create-ping-delete cycle, at the same time do passive vtc reboot in a cycle
UniqueID: os-sqe-vts03
PossibleDrivers: [vts]

Workers:
- class: lab.monitors.vts_monitor.VtsMonitor
  name: VtsMonitor
  delay: 0
  timeout: 1000
  pause: 2
  run:
    - VtsDisruptor

- class: lab.scenarios.vts_scenario.VtsScenario
  name: VtsScenario
  delay: 0
  run: [VtsDisruptor]
  pause: 10
  timeout: 1000
  n_networks: 1
  n_servers: 3
  run_inside: ping
  uptime: 20

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: VtsDisruptor
  delay: 10
  run: 10
  pause: 30
  timeout: 1000
  node_to_disrupt: slave-vtc
  method_to_disrupt: vm-reboot
  disrupt_time: 20