Folder: ha
Title: Passive DL corosync stop while adding OS servers
Description: Do OS instance create-ping-delete cycle, at the same time do passive dl corosync stop in a cycle
UniqueID: os-sqe-vts08
PossibleDrivers: [vts]
Workers:
- class: lab.monitors.vts_monitor.VtsMonitor
  name: VtsMonitor
  delay: 0
  run: [VtsScenario]
  pause: 2
  timeout: 1000

- class: lab.scenarios.vts_scenario.VtsScenario
  name: VtsScenario
  delay: 0
  run: [VtsDisruptor]
  pause: 10
  timeout: 1000
  n_networks: 1
  n_servers: 1
  run_inside: ping
  uptime: 20

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: VtsDisruptor
  delay: 10
  run: 10
  pause: 30
  timeout: 1000
  node_to_disrupt: slave-dl
  method_to_disrupt: corosync-stop
  disrupt_time: 20