Folder: ha
Title: Active VTC isolate XRNC fomr mx
Description: Do OS instance create-ping once then in the middle do active vtc xrnc isolate from mx then delete OS instance
UniqueID: os-sqe-vts16
PossibleDrivers: [vts]
Workers:
- class: lab.monitors.vts_monitor.VtsMonitor
  name: VtsMonitor
  delay: 0
  run: [VtsScenario]
  pause: 2
  timeout: 1000

- class: lab.scenarios.vts_scenario.VtsScenario
  name: VtsScenario
  delay: 0
  run: [VtsDisruptorVtcMaster, VtsDisruptorDlMaster]
  pause: 10
  timeout: 1000
  n_networks: 1
  n_servers: 3
  run_inside: ping
  uptime: 20

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: VtsDisruptorVtcMaster
  delay: 200
  run: 1
  pause: 0
  timeout: 1000
  node_to_disrupt: master-vtc
  method_to_disrupt: isolate-from-mx
  disrupt_time: 20

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: VtsDisruptorDlMaster
  delay: 200
  run: 1
  pause: 0
  timeout: 1000
  node_to_disrupt: master-dl
  method_to_disrupt: isolate-from-mx
  disrupt_time: 20