Folder: HIGH AVAILABILITY
Title: Active DL reboot
Description: Do OS instance create-ping once then in the middle do active dl reboot then delete OS instance
UniqueID: os-sqe-vts14

Workers:
- class: lab.monitors.vts_monitor.VtsMonitor
  name: VtsMonitor
  delay: 0
  run: [sce]
  pause: 2
  timeout: 1000

- class: lab.scenarios.vts_scenario.VtsScenario
  name: sce
  delay: 0
  run: 1
  pause: 2
  timeout: 1000
  n_networks: 1
  n_servers: 2
  run_inside: ping
  uptime: 20

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: dis
  delay: 200
  run: 1
  pause: 0
  timeout: 1000
  node_to_disrupt: master-dl
  method_to_disrupt: vm-reboot
  disrupt_time: 270
