Folder: ha
Title: Active DL tenenat iface down while adding OS servers
Description: Do OS instance create-ping-delete cycle, at the same time do active dl tenant interface down in a cycle
UniqueID: os-sqe-vts23
PossibleDrivers: [vts]
Workers:
- class: lab.monitors.vts_monitor.VtsMonitor
  name: VtsMonitor
  delay: 0
  run: [VtsScenario]
  pause: 2
  timeout: 1000

- class: lab.scenarios.vts_scenario.VtsScenario
  name: VtsScenario
  delay: 0
  run: [VtsDisruptor]
  pause: 2
  timeout: 1000
  n_networks: 1
  n_servers: 1
  run_inside: ping
  uptime: 20

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: VtsDisruptor
  delay: 10
  run: 10
  pause: 10
  timeout: 1000
  node_to_disrupt: master-dl
  method_to_disrupt: isolate-from-t
  disrupt_time: 20