Folder: HIGH AVAILABILITY
Title: Active DL VTS libvirt VM shutdown while adding OS servers
Description: Do OS instance create-ping-delete cycle, at the same time do active dl vm shutdown in a cycle
UniqueID: os-sqe-vts24

Workers:
- class: lab.monitors.vts_monitor.VtsMonitor
  name: VtsMonitor
  delay: 0
  run: [VtsScenario]
  pause: 2
  timeout: 1000

- class: lab.scenarios.vts_scenario.VtsScenario
  name: VtsScenario
  delay: 20
  run: [VtsDisruptor]
  pause: 2
  timeout: 1000
  n_networks: 1
  n_servers: 3
  run_inside: ping
  uptime: 20

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: VtsDisruptor
  delay: 10
  run: 10
  pause: 10
  timeout: 1000
  node_to_disrupt: master-dl
  method_to_disrupt: vm-shutdown
  disrupt_time: 30