Folder: ha
Title: Active DL ncs stop while adding OS servers
Description: Do OS instance create-ping-delete cycle, at the same time do active dl ncs stop in a cycle
UniqueID: os-sqe-vts21
PossibleDrivers: [vts]
Workers:
- class: lab.monitors.vts_monitor.VtsMonitor
  name: VtsMonitor
  delay: 0
  timeout: 1000
  pause: 2
  run:
    - VtsDisruptor

- class: lab.scenarios.vts_scenario.VtsScenario
  name: VtsScenario
  delay: 5
  timeout: 1000
  pause: 10
  n_networks: 1
  n_servers: 1
  run_inside: ping
  uptime: 20
  run:
    - VtsDisruptor

- class: lab.disruptors.vts_disruptor.VtsDisruptor
  name: VtsDisruptor
  delay: 10
  timeout: 1000
  pause: 30
  node_to_disrupt: master-vtsr
  method_to_disrupt: ncs-stop
  run: 5
  disrupt_time: 20

# Possible nodes to disrupt: 'active-vtc', 'passive-vtc', 'active-dl', 'passive-dl'
# Possible methods:  'isolate-from-mx', 'isolate-from-api', 'vm-shutdown', 'vm-reboot', 'corosync-stop', 'ncs-stop'