router bgp {{ bgp_asn }}
 bgp router-id {{ props['tenant_ip'] }}
 address-family ipv4 unicast
 address-family l2vpn evpn
  retain route-target all
 exit
 {% for host in groups['switches'] %}
 neighbor {{ hostvars[host]['tenant_ip'] }}
  remote-as {{ hostvars[host]['bgp_asn'] }}
  update-source GigabitEthernet0/0/0/0
  address-family l2vpn evpn
   route-reflector-client
  exit
 exit
 {% endfor %}
exit
