router ospf 100
 router-id {{ xrvr_loopback0_ip }}
 address-family ipv4 unicast
 area 0.0.0.0
  default-cost 10
  interface Loopback0
  interface GigabitEthernet0/0/0/0

interface Loopback0
 ipv4 address {{ xrvr_loopback0_ip }} 255.255.255.255

router bgp {{ bgp_asn }}
 bgp router-id {{ xrvr_loopback0_ip }}
 address-family ipv4 unicast
 address-family l2vpn evpn
  retain route-target all
