router ospf 100
 router-id {{ props['loopback0_ip'] }}
 address-family ipv4 unicast
 area 0.0.0.0
  default-cost 10
  interface Loopback0
  interface GigabitEthernet0/0/0/0
  exit
 exit
exit

interface Loopback0
 ipv4 address {{ props['loopback0_ip'] }} 255.255.255.255
exit

router bgp {{ bgp_asn }}
 bgp router-id {{ props['loopback0_ip'] }}
 address-family ipv4 unicast
 address-family l2vpn evpn
  retain route-target all
 exit
exit
