set f [open "{{ day0_config_path }}"]
set config_lines [split [read $f] "\n"]
close $f

spawn ncs_cli
expect "admin@ncs>"
send "config\r"
expect "admin@ncs%"

foreach config_line $config_lines {
    send "$config_line\r"
    expect "admin@ncs%"
}

send "commit\r"
expect "admin@ncs%"
send "quit\r"
expect "admin@ncs>"
send "quit\r"
expect eof